.nav {
    grid-area: n;
    background-color: aquamarine;
    padding: 45px;
}

.item a.activeLink {
    color: gold;
}

.item a {
    color: brown;
    text-decoration: none;
    font-weight: bolder;
}
.item {
    margin-bottom: 10px;
}